In [1]:
import pandas as pd 

df=pd.read_csv(r"C:\Users\Xervice5433\Downloads\Customer Personality Analysis.csv")

print(df.head())
print(df.info())

     ID  Year_Birth   Education Marital_Status  Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single   58138        0         0
1  2174        1954  Graduation         Single   46344        1         1
2  4141        1965  Graduation       Together   71613        0         0
3  6182        1984  Graduation       Together   26646        1         0
4  5324        1981         PhD        Married   58293        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216 entries, 0 to 2215
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   int64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
dtypes: int64(26), object(3)
memory usage: 502.2+ KB
None

In [2]:
print(df.isnull().sum())

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

In [3]:
print(df.drop_duplicates())

         ID  Year_Birth   Education Marital_Status  Income  Kidhome  Teenhome  \
0      5524        1957  Graduation         Single   58138        0         0
1      2174        1954  Graduation         Single   46344        1         1
2      4141        1965  Graduation       Together   71613        0         0
3      6182        1984  Graduation       Together   26646        1         0
4      5324        1981         PhD        Married   58293        1         0
...     ...         ...         ...            ...     ...      ...       ...
2211  10870        1967  Graduation        Married   61223        0         1
2212   4001        1946         PhD       Together   64014        2         1
2213   7270        1981  Graduation       Divorced   56981        0         0
2214   8235        1956      Master       Together   69245        0         1
2215   9405        1954         PhD        Married   52869        1         1

     Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0     04-09-2012       58       635  ...                  7             0
1     08-03-2014       38        11  ...                  5             0
2     21-08-2013       26       426  ...                  4             0
3     10-02-2014       26        11  ...                  6             0
4     19-01-2014       94       173  ...                  5             0
...          ...      ...       ...  ...                ...           ...
2211  13-06-2013       46       709  ...                  5             0
2212  10-06-2014       56       406  ...                  7             0
2213  25-01-2014       91       908  ...                  6             0
2214  24-01-2014        8       428  ...                  3             0
2215  15-10-2012       40        84  ...                  7             0

      AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0                0             0             0             0         0
1                0             0             0             0         0
2                0             0             0             0         0
3                0             0             0             0         0
4                0             0             0             0         0
...            ...           ...           ...           ...       ...
2211             0             0             0             0         0
2212             0             0             1             0         0
2213             1             0             0             0         0
2214             0             0             0             0         0
2215             0             0             0             0         0

      Z_CostContact  Z_Revenue  Response
0                 3         11         1
1                 3         11         0
2                 3         11         0
3                 3         11         0
4                 3         11         0
...             ...        ...       ...
2211              3         11         0
2212              3         11         0
2213              3         11         0
2214              3         11         0
2215              3         11         1

[2216 rows x 29 columns]

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216 entries, 0 to 2215
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   int64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
dtypes: int64(26), object(3)
memory usage: 502.2+ KB
None