In [1]:
import pandas as pd

df=pd.read_csv(r"C:\Users\Xervice5433\Downloads\credits.csv\credits.csv")

print(df.head())
print(df.info())

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77801 entries, 0 to 77800
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77801 non-null  int64
 1   id         77801 non-null  object
 2   name       77801 non-null  object
 3   character  68029 non-null  object
 4   role       77801 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.0+ MB
None

In [2]:
print(df.drop_duplicates())

       person_id         id                name                character  \
0           3748    tm84618      Robert De Niro            Travis Bickle
1          14658    tm84618        Jodie Foster            Iris Steensma
2           7064    tm84618       Albert Brooks                      Tom
3           3739    tm84618       Harvey Keitel  Matthew 'Sport' Higgins
4          48933    tm84618     Cybill Shepherd                    Betsy
...          ...        ...                 ...                      ...
77796     736339  tm1059008    Adelaida Buscato                María Paz
77797     399499  tm1059008  Luz Stella Luengas             Karen Bayona
77798     373198  tm1059008         Inés Prieto                    Fanny
77799     378132  tm1059008        Isabel Gaona                   Cacica
77800    1950416  tm1059008      Julian Gaviria                      NaN

           role
0         ACTOR
1         ACTOR
2         ACTOR
3         ACTOR
4         ACTOR
...         ...
77796     ACTOR
77797     ACTOR
77798     ACTOR
77799     ACTOR
77800  DIRECTOR

[77801 rows x 5 columns]

In [3]:
print(df.isnull().sum())

person_id       0
id              0
name            0
character    9772
role            0
dtype: int64