In [1]:
import pandas as pd

df=pd.read_csv(r"C:\Users\Xervice5433\Downloads\car_prices.csv\car_prices.csv")

print(df.head())
print(df.info())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

                                  saledate
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB
None

In [3]:
print(df.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [5]:
df['make'] = df['make'].fillna(
    df['make'].mode()[0]
)

df['model'] = df['model'].fillna(
    df['model'].mode()[0]
)

df['trim'] = df['trim'].fillna(
    df['trim'].mode()[0]
)

df['body'] = df['body'].fillna(
    df['body'].mode()[0]
)

df['transmission'] = df['transmission'].fillna(
    df['transmission'].mode()[0]
)

df['vin'] = df['vin'].fillna(
    df['vin'].mode()[0]
)

df['condition'] = df['condition'].fillna(
    df['condition'].mode()[0]
)

df['odometer'] = df['odometer'].fillna(
    df['odometer'].mode()[0]
)

df['color'] = df['color'].fillna(
    df['color'].mode()[0]
)

df['interior'] = df['interior'].fillna(
    df['interior'].mode()[0]
)

df['seller'] = df['seller'].fillna(
    df['seller'].mode()[0]
)

df['mmr'] = df['mmr'].fillna(
    df['mmr'].mode()[0]
)

df['sellingprice'] = df['sellingprice'].fillna(
    df['sellingprice'].mode()[0]
)

df['saledate'] = df['saledate'].fillna(
    df['saledate'].mode()[0]
)

In [6]:
print(df.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [7]:
print(df.head(6))

   year    make                model        trim   body transmission  \
0  2015     Kia              Sorento          LX    SUV    automatic
1  2015     Kia              Sorento          LX    SUV    automatic
2  2014     BMW             3 Series  328i SULEV  Sedan    automatic
3  2015   Volvo                  S60          T5  Sedan    automatic
4  2014     BMW  6 Series Gran Coupe        650i  Sedan    automatic
5  2015  Nissan               Altima       2.5 S  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black
5  1n4al3ap1fn326013    ca        1.0    5554.0   gray    black

                                              seller      mmr  sellingprice  \
0                            kia motors america  inc  20500.0       21500.0
1                            kia motors america  inc  20800.0       21500.0
2             financial services remarketing (lease)  31900.0       30000.0
3                            volvo na rep/world omni  27500.0       27750.0
4             financial services remarketing (lease)  66000.0       67000.0
5  enterprise vehicle exchange / tra / rental / t...  15350.0       10900.0

                                  saledate
0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5  Tue Dec 30 2014 12:00:00 GMT-0800 (PST)

In [9]:
df['saledate'] = pd.to_datetime(df['saledate'], dayfirst=True, errors='coerce')
df['saledate'] = df['saledate'].dt.strftime('%d/%m/%Y')

In [10]:
print(df.head(6))

   year    make                model        trim   body transmission  \
0  2015     Kia              Sorento          LX    SUV    automatic
1  2015     Kia              Sorento          LX    SUV    automatic
2  2014     BMW             3 Series  328i SULEV  Sedan    automatic
3  2015   Volvo                  S60          T5  Sedan    automatic
4  2014     BMW  6 Series Gran Coupe        650i  Sedan    automatic
5  2015  Nissan               Altima       2.5 S  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black
5  1n4al3ap1fn326013    ca        1.0    5554.0   gray    black

                                              seller      mmr  sellingprice  \
0                            kia motors america  inc  20500.0       21500.0
1                            kia motors america  inc  20800.0       21500.0
2             financial services remarketing (lease)  31900.0       30000.0
3                            volvo na rep/world omni  27500.0       27750.0
4             financial services remarketing (lease)  66000.0       67000.0
5  enterprise vehicle exchange / tra / rental / t...  15350.0       10900.0

     saledate
0  16/12/2014
1  16/12/2014
2  15/01/2015
3  29/01/2015
4  18/12/2014
5  30/12/2014